#este es el .env example para renómbralo a .env y completar los valores como si fuese el original


# Puerta donde escucha el servidor Express
PORT=3000

# Frase secreta para firmar las cookies de sesión.
# Genera una con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET=llave de 64 digitos
